.backButton {
    align-items: center;
    background: none;
    display: flex;
    justify-content: center;
    width: 50px;
}

.back-label {
    color: #999CA0;
    font-size: 12px;
    line-height: 14px;
    margin: 0;
    padding-left: 5px;
}