.StripeElement {
    background: #393B3F;
    border-radius: 5px;
    color: white;
    padding: 17px;
    width: 312px;
}
.stripe-label {
    display: flex;
    align-items: center;
}
.paypal-label {
    display: flex;
    margin-top: 20px;
}
.paypal-label p {
    margin: 10px 0;
}
.paypal-div {
    display: flex;
    flex-direction: column;
}
.paypal-label img {
    height: 20px;
    width: 63px;
}