.signin-footer {
    background: #101011;
    bottom: 0;
    display: flex;
    height: 150px;
    justify-content: center;
    padding: 32px 0;
    position: absolute;
    width: 100%;
}
.signin-footer > p {
    color: #999CA0;
    display: flex;
    font-size: 14px;
    line-height: 20px;
    margin: 0px;
    /* width: 226px; */
}
.signup-btn {
    color: #4CC9F0;
    font-weight: bold;
    margin-left: 8px;
}