.exclusive-content {
    margin-bottom: 10px;
}

.exclusive-content .image-wrapper {
    padding: 10px;
    position: relative;
}
.exclusive-content .content-image {
    border-radius: 5px;
}
.exclusive-content .image-inside {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}
.exclusive-content .lock-image {
    width: 24px;
}
.exclusive-content .join-button {
    align-items: center;
    border-radius: 30px;
    color: #000000;
    display: flex;
    font-weight: 600;
    font-size: 14px;
    height: 35px;
    justify-content: center;
    line-height: 17px;
    margin: 12px 0;
    padding: 10px;
    text-align: center;
    width: 198px;
}
.exclusive-content .already-text {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    margin: 0;
    text-align: center;
}
.exclusive-content .already-text span {
    color: #4CC9F0;
}
.exclusive-content .detail-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 20px 20px 20px;
}
.exclusive-content .detail-wrapper p {
    margin: 0;
}
.exclusive-content .date-lock {
    display: flex;
    justify-content: space-between;
}
.exclusive-content .lock-div {
    align-items: center;
    display: flex;
}
.exclusive-content .lock-div img {
    height: 14px;
    margin-right: 5.75px;
}
.exclusive-content .detail-description {
    color: white;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    margin: 8px 0 16px;
    text-align: left;
}
.exclusive-content .detail-likes {
    text-align: left;
}